.modal-container {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: hsl(0 0% 0% / 50%);
  backdrop-filter: blur(7px);
}

.modal-content {
  position: relative;
  width: 65vw;
  height: 70vh;
  border-radius: 7px;
  background-color: black;
  overflow: hidden;
  overflow-y: scroll;
  border: 3px white solid;
}

.modal-movie-background {
  display: flex;
  flex: 1;
  width: 100%;
  z-index: 1;
}

.modal-movie-background img {
  width: 100%;
}

.modal-movie-cover {
  position: absolute;
  bottom: 10px;
  z-index: 4;
  left: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  color: white;
}

.modal-movie-cover > img {
  border-radius: 4px;
  width: 100%;
  height: auto;
  top: -470px;
  border: 3px white solid;
}

.modal-watched-buttons > *:hover {
  cursor: pointer;
}
.modal-toggle-watch-btn {
  background-color: rgb(216, 189, 57);
  border-radius: 8px;
  width: 70%;
  display: flex;
  justify-content: center;
  border: 2px rgba(0, 0, 0, 0) solid;
}

.watched {
  background-color: rgb(216, 189, 57, 0);
  border: 2px rgb(216, 189, 57) solid;
  color: rgb(216, 189, 57);
}

.modal-toggle-like-btn {
  background-color: #e42222;
  border-radius: 8px;
  width: 70%;
  display: flex;
  justify-content: center;
  border: 2px rgba(0, 0, 0, 0) solid;
  /* max-height: 30px; */
}

.liked {
  background-color: rgba(0, 0, 0, 0);
  border: 2px #ac3030 solid;
  color: #ac3030;
}

.modal-toggle-like-btn p,
.modal-toggle-watch-btn p {
  font-weight: 700;
}

.modal-toggle-like-btn:hover,
.modal-toggle-watch-btn:hover {
  cursor: pointer;
}

.modal-movie-content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  height: 60%;
  padding: 0px 30px 10px 340px;
  border-top: 3px white solid;
  background-color: black;
  color: white;
  width: fit-content;
}

.modal-movie-title {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 2px;
  max-width: 75%;
}

.modal-movie-overview {
  color: white;
}

.modal-movie-trailer {
  width: 720px;
  height: 405px;
  margin-bottom: 30px;
}
