.sidebar-container > * {
  transition: all 0.5s ease;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease;
  transition: backdrop-filter 0.1s ease;
}

.container-opened {
  backdrop-filter: blur(5px);
  background-color: rgb(0, 0, 0, 0.5);
  transition: backdrop-filter 0s ease;
}
.container-closed {
  backdrop-filter: blur(0px);
  background-color: rgb(0, 0, 0, 0);
  left: -100vw;
  transition: backdrop-filter 0.1s ease;
  transition: background-color 0.1s ease;
  transition: left 0.5s ease;
}

.sidebar-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50vw;
  left: -50vw;
  height: 100vh;
  background-color: #0085ff;
  transition: all 0.5s ease;
}

.content-opened {
  left: 0vw;
  transition: all 0.5s ease;
}

.sidebar-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.sidebar-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #0272dc;
  height: 40px;
  border-radius: 10px;
  color: white;
}

.sidebar-close-button:hover {
  box-shadow: 0px 0px 0px 5px #61a4e3 inset;
  background-color: #0084ff71;
  cursor: pointer;
}

.liked-movies,
.watched-movies {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.liked-movies {
  /* background-color: purple; */
}
.watched-movies {
  /* background-color: green; */
}
