body > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #df8f8f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
